# Movie Recommendation System

By: Anat Jacobson, Stephanie Ciaccia and Charlie Jin

---

### Overview: 

Build a model that provides top 5 movie recommendations to a user, based on their ratings of other movies.

The MovieLens dataset is a "classic" recommendation system dataset, that is used in numerous academic papers and machine learning proofs-of-concept. You will need to create the specific details about how the user will provide their ratings of other movies, in addition to formulating a more specific business problem within the general context of "recommending movies".

### Introduction and Business Case:

### Business Understandings:
#### Applications:
#### Data: 
### Methodology:

---

## Data Exploration and Analysis
Importing all packages needed

In [246]:
#imports for general analysis
import pandas as pd
import numpy as np

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn.metrics import log_loss
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

from imblearn.pipeline import Pipeline as ImPipeline

#Imports to Recommendation System
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV

### Import CSVs, Merge, and Clean all Data Needed
4 Datasets imported:
- Movies:
- Links: 
- Ratings:
- Tags:

In [3]:
#Import all relevant data tables
movies_df = pd.read_csv('data/movies.csv')
links_df = pd.read_csv('data/links.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

In [4]:
#checking the shape of all dfs
print('movies_df: ', movies_df.shape)
print('links_df: ',links_df.shape)
print('ratings_df: ',ratings_df.shape)
print('tags_df: ',tags_df.shape)

movies_df:  (9742, 3)
links_df:  (9742, 3)
ratings_df:  (100836, 4)
tags_df:  (3683, 4)

In [5]:
#displaying the first 5 rows of each data frames
display(movies_df.head())
display(links_df.head())
display(ratings_df.head())
display(tags_df.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [6]:
#Merging links and movies
links_and_movies = pd.merge(movies_df, links_df, 'left', on = 'movieId')
links_and_movies

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0
9739,193585,Flint (2017),Drama,6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0

In [7]:
movies_and_ratings = pd.merge(links_and_movies, ratings_df, 'left', on = 'movieId')
movies_and_ratings

,movieId,title,genres,imdbId,tmdbId,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,17.0,4.5,1.305696e+09
...,...,...,...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0,184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0,184.0,3.5,1.537110e+09
100851,193585,Flint (2017),Drama,6397426,479308.0,184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0,184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0,331.0,4.0,1.537158e+09

In [8]:
full_df = pd.merge(movies_and_ratings, tags_df, 'left', on = 'movieId')
full_df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,336.0,pixar,1.139046e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,474.0,pixar,1.137207e+09
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,567.0,fun,1.525286e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,336.0,pixar,1.139046e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,474.0,pixar,1.137207e+09

In [9]:
full_df.shape

(285783, 11)

In [10]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285783 entries, 0 to 285782
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      285783 non-null  int64
 1   title        285783 non-null  object
 2   genres       285783 non-null  object
 3   imdbId       285783 non-null  int64
 4   tmdbId       285770 non-null  float64
 5   userId_x     285762 non-null  float64
 6   rating       285762 non-null  float64
 7   timestamp_x  285762 non-null  float64
 8   userId_y     233234 non-null  float64
 9   tag          233234 non-null  object
 10  timestamp_y  233234 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 26.2+ MB

In [11]:
full_df.drop(full_df[full_df['userId_y'].isna()].index, inplace = True)
#this drops all the rows with NA. or we could drop the columns

In [12]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233234 entries, 0 to 285773
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      233234 non-null  int64
 1   title        233234 non-null  object
 2   genres       233234 non-null  object
 3   imdbId       233234 non-null  int64
 4   tmdbId       233234 non-null  float64
 5   userId_x     233213 non-null  float64
 6   rating       233213 non-null  float64
 7   timestamp_x  233213 non-null  float64
 8   userId_y     233234 non-null  float64
 9   tag          233234 non-null  object
 10  timestamp_y  233234 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 21.4+ MB

In [13]:
full_df.drop(full_df[full_df['rating'].isna()].index, inplace = True)

In [14]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233213 entries, 0 to 285773
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      233213 non-null  int64
 1   title        233213 non-null  object
 2   genres       233213 non-null  object
 3   imdbId       233213 non-null  int64
 4   tmdbId       233213 non-null  float64
 5   userId_x     233213 non-null  float64
 6   rating       233213 non-null  float64
 7   timestamp_x  233213 non-null  float64
 8   userId_y     233213 non-null  float64
 9   tag          233213 non-null  object
 10  timestamp_y  233213 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 21.4+ MB

In [15]:
full_df.describe() #exploring that dataset

,movieId,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,timestamp_y
count,233213.000000,2.332130e+05,233213.000000,233213.000000,233213.000000,2.332130e+05,233213.000000,2.332130e+05
mean,12319.999443,2.610632e+05,9378.277742,309.688191,3.966535,1.213524e+09,470.683564,1.384774e+09
std,28243.919401,4.414411e+05,36943.139800,178.206387,0.968637,2.250448e+08,153.329632,1.534621e+08
min,1.000000,1.234900e+04,11.000000,1.000000,0.500000,8.281246e+08,2.000000,1.137179e+09
25%,296.000000,1.103570e+05,278.000000,156.000000,3.500000,1.017365e+09,424.000000,1.242494e+09
50%,1198.000000,1.109120e+05,680.000000,309.000000,4.000000,1.217325e+09,477.000000,1.457901e+09
75%,4638.000000,1.724950e+05,1892.000000,460.000000,5.000000,1.443201e+09,599.000000,1.498457e+09
max,193565.000000,5.580390e+06,503475.000000,610.000000,5.000000,1.537799e+09,610.000000,1.537099e+09

In [16]:
full_df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,336.0,pixar,1.139046e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,474.0,pixar,1.137207e+09
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,567.0,fun,1.525286e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,336.0,pixar,1.139046e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,474.0,pixar,1.137207e+09

What do we have?
- We have movies and then features 
- Features are:
    - Genere
    - Rating
    - Tag
    
Each movie should probably only be only 1 row. 
Have to compare by looking at the cosine of the angle between them. 
Closer to 1 is the more similar they are. Each row is a vector

In [17]:
full_df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,336.0,pixar,1.139046e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,474.0,pixar,1.137207e+09
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,567.0,fun,1.525286e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,336.0,pixar,1.139046e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,474.0,pixar,1.137207e+09

one hot encode -- > genere, tag --> dummy or one hot encode

In [18]:
#subpipe_numeric = Pipeline(steps=[('ss', StandardScaler())])
#subpipe_categorical = Pipeline(steps=[('ohe', OneHotEncoder(sparse=False, handle_unknown= 'ignore'))])
#CT = ColumnTransformer(transformers=[('subpipe_numeric', subpipe_numeric, scale),
#                                         ('subpipe_categorical', subpipe_categorical, cat)],
#                           remainder='passthrough')

In [19]:
ratings_df['userId'].min()

1

In [20]:
ratings_df['userId'].max() #go according to ratings...

610

In [21]:
ratings_df #have to fix this dataframe . Ratings is the main one? Based on user IDb

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [22]:
full_df['genres'].value_counts()

Comedy|Crime|Drama|Thriller               56851
Action|Crime|Drama|Thriller               16725
Action|Adventure|Sci-Fi                   11939
Drama                                      6242
Comedy                                     5486
                                          ...
Drama|Thriller|Western                        1
Drama|Fantasy|Horror                          1
Crime|Drama|Film-Noir|Romance|Thriller        1
Drama|War|Western                             1
Comedy|Crime|Drama|Mystery|Romance            1
Name: genres, Length: 370, dtype: int64

In [23]:
genres = (full_df.genres.str.split('|', expand=True)
            .stack()
            .to_frame(name='genres'))

genres.index = genres.index.droplevel(1)

In [24]:
genres2 = full_df['genres'].str.split('|', expand=True)
genres2

                0          1         2       3        4     5     6
0       Adventure  Animation  Children  Comedy  Fantasy  None  None
1       Adventure  Animation  Children  Comedy  Fantasy  None  None
2       Adventure  Animation  Children  Comedy  Fantasy  None  None
3       Adventure  Animation  Children  Comedy  Fantasy  None  None
4       Adventure  Animation  Children  Comedy  Fantasy  None  None
...           ...        ...       ...     ...      ...   ...   ...
285745     Action  Adventure  Children  Sci-Fi     None  None  None
285770     Action  Animation    Comedy  Sci-Fi     None  None  None
285771     Action  Animation    Comedy  Sci-Fi     None  None  None
285772     Action  Animation    Comedy  Sci-Fi     None  None  None
285773     Action  Animation    Comedy  Sci-Fi     None  None  None

[233213 rows x 7 columns]

In [25]:
genres2[6].value_counts()

IMAX       3718
Mystery      97
Name: 6, dtype: int64

In [26]:
df = full_df.join(genres2)

In [27]:
df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,0,1,2,3,4,5,6
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,336.0,pixar,1.139046e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,474.0,pixar,1.137207e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,567.0,fun,1.525286e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,336.0,pixar,1.139046e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,474.0,pixar,1.137207e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None

Make year own column. Do this through a loop or the way below.

In [30]:
df['year'] = df['title'].str[-6:]
df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,0,1,2,3,4,5,6,year,real_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,336.0,pixar,1.139046e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,474.0,pixar,1.137207e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,567.0,fun,1.525286e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,336.0,pixar,1.139046e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,474.0,pixar,1.137207e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story

In [31]:
#Title without year
df['real_title'] = df['title'].str[:-6]
df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,0,1,2,3,4,5,6,year,real_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,336.0,pixar,1.139046e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,474.0,pixar,1.137207e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0,567.0,fun,1.525286e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,336.0,pixar,1.139046e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5.0,4.0,847434962.0,474.0,pixar,1.137207e+09,Adventure,Animation,Children,Comedy,Fantasy,None,None,(1995),Toy Story