# Content Based Recommendation Model

By: Anat Jacobson and Stephanie Ciaccia

---

## Overview

Building a content based recommendation system

# Business Problem

Add business problem here

# Data Understanding

In [34]:
#importing packages

In [778]:
import pandas as pd
import numpy as np
import math
from datetime import datetime
import datetime

import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
%matplotlib inline
import plotly
import plotly.express as px
from matplotlib.ticker import StrMethodFormatter

from collections import Counter
from nltk.corpus import stopwords

from IPython.display import display

Function for printing long lists

In [36]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

Setting display option to view all columns

In [512]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [517]:
pd.reset_option("display.max_colwidth")

### Data Source : Grouplens

The data used in our analysis was obtained from [Movie Lens]([http://movielens.org]), which consists of user ratings on movies using a 5-star scale. The dataset was collected between March 29, 1996, and September 24, 2018, and includes ratings from 610 users. In total, the dataset contains 100836 ratings and 3683 tags across 9742 movies.

Files from the dataset inclue `links.csv`, `movies.csv`, `ratings.csv` and `tags.csv`.

### Import CSVs, Merge, and Clean all Data Needed
#### 4 Datasets imported:

- Movies:
- Links:
- Ratings:
- Tags:

In [355]:
#importing datasets
ratings_df = pd.read_csv("data/ratings.csv")
movies_df = pd.read_csv("data/movies.csv")
links_df = pd.read_csv("data/links.csv")
tags_df = pd.read_csv("data/tags.csv")

In [356]:
#checking the shape of all dfs
print('movies_df: ', movies_df.shape)
print('links_df: ',links_df.shape)
print('ratings_df: ',ratings_df.shape)
print('tags_df: ',tags_df.shape)

movies_df:  (9742, 3)
links_df:  (9742, 3)
ratings_df:  (100836, 4)
tags_df:  (3683, 4)

In [357]:
tag_group_df = tags_df.groupby(by="movieId").agg({"tag":" ".join})

In [358]:
#we would want to run a vectorizer and clean data
tag_group_df.value_counts()

tag
In Netflix queue                                                      109
Disney                                                                 15
aliens                                                                 10
Shakespeare                                                            10
Stephen King                                                            9
                                                                     ...
death penalty Nun                                                       1
death penalty John Grisham                                              1
deafness                                                                1
darth vader luke skywalker space opera                                  1
"artsy" atmospheric gritty hallucinatory surreal visually stunning      1
Length: 1038, dtype: int64

In [359]:
#splitting genre into multiple columns
genre_split = pd.DataFrame(movies_df.genres.str.split('|',6).tolist(),
                                 columns = ['genre_1','genre_2', 'genre_3',
                                            'genre_4', 'genre_5', 'genre_6', 'genre_7'])

#merging dataframes
movies_df = pd.merge(pd.DataFrame(movies_df), pd.DataFrame(genre_split), left_index=True, right_index=True)

#dropping genre columns
movies_df.drop(columns="genres", inplace=True)

In [360]:
#looking at unique genre names
genre_split['genre_2'].unique()

array(['Animation', 'Children', 'Romance', 'Drama', None, 'Crime',
       'Adventure', 'Horror', 'Comedy', 'Sci-Fi', 'War', 'Thriller',
       'Mystery', 'Film-Noir', 'Fantasy', 'Musical', 'Western', 'IMAX',
       'Documentary'], dtype=object)

In [361]:
#finding unique genres and saving to list to one hot encode genres
genre_list = genre_split['genre_2'].unique().tolist()

#appending additional genres not in this column
genre_list.append('Fantasy')
genre_list.append('Action')

#removing none value in list
genre_list.remove(None)

In [362]:
genre_list

['Animation',
 'Children',
 'Romance',
 'Drama',
 'Crime',
 'Adventure',
 'Horror',
 'Comedy',
 'Sci-Fi',
 'War',
 'Thriller',
 'Mystery',
 'Film-Noir',
 'Fantasy',
 'Musical',
 'Western',
 'IMAX',
 'Documentary',
 'Fantasy',
 'Action']

In [363]:
# looping over genres in genre_list
for genre in genre_list:
    # create new columns with genre names in genre_list
    new_col = genre
    
    # make new column with 0 for all values (row will be made up of bool values)
    movies_df[new_col] = 0
    
    # looping over columns and rows and check if value is equal to genre in list - if it's equal we add value to 1
    for col in movies_df.columns:
        for i in range(len(movies_df)):
            if movies_df[col][i] == genre:
                movies_df[new_col][i] = 1

<ipython-input-363-85268bd52aea>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df[new_col][i] = 1

In [364]:
#sanity check of for loop to make sure it worked correctly
movies_df.head(10)

,movieId,title,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,Animation,Children,Romance,Drama,Crime,Adventure,Horror,Comedy,Sci-Fi,War,Thriller,Mystery,Film-Noir,Fantasy,Musical,Western,IMAX,Documentary,Action
0,1,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,None,None,1,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0
1,2,Jumanji (1995),Adventure,Children,Fantasy,None,None,None,None,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy,Romance,None,None,None,None,None,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy,Drama,Romance,None,None,None,None,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,6,Heat (1995),Action,Crime,Thriller,None,None,None,None,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
6,7,Sabrina (1995),Comedy,Romance,None,None,None,None,None,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
7,8,Tom and Huck (1995),Adventure,Children,None,None,None,None,None,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
8,9,Sudden Death (1995),Action,None,None,None,None,None,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9,10,GoldenEye (1995),Action,Adventure,Thriller,None,None,None,None,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1

In [368]:
# dropping original genre columns
movies_df = movies_df.drop(columns=['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7'])

In [371]:
#making year and title columns separate

#making year column
movies_df['year'] = movies_df['title'].str[-6:]

#making real_title column
movies_df['real_title'] = movies_df['title'].str[:-6]

#dropping original title column
movies_df = movies_df.drop(columns="title")

#removing parethensis from year
movies_df['year'] = movies_df['year'].str.replace('[^a-zA-Z0-9 ]', '', regex=True)

#removing whitespaces
movies_df['year'] = movies_df['year'].str.strip()

In [370]:
#checking year values
movies_df['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', 'ylon 5', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908', 'er One', 'a Road', 'Watson', 'nimals',
       'terson', 'nlight', 'The OA', 'Cosmos', 'd Baby', 'Iron 2',
       'Mirror'], dtype=object)

In [372]:
year_vals = ['er One', 'a Road', 'Watson', 'nimals','terson', 'nlight',
             'The OA', 'Cosmos', 'd Baby', 'Iron 2','Mirror', 'ylon 5']

movies_df = movies_df[~movies_df['year'].isin(year_vals)]

Inspecting links - The additional ids will be helpful so we can pull additional movie information from TMBD's api for the content based model.

In [373]:
links_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

Inspecting tags

In [374]:
tags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [713]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [710]:
tags_df['movieId'].value_counts()

296     181
2959     54
924      41
293      35
7361     34
       ...
6107      1
5878      1
5876      1
3192      1
8190      1
Name: movieId, Length: 1572, dtype: int64

In [765]:
#lambda function to aggregate tags
tags_df_group = tags_df.groupby(['movieId']).agg(lambda x: ', '.join(x))

#splitting tage based on ,
tags_df_group = tags_df_group['tag'].str.split(",", expand=True)

#saving only first four tags
tags_df_group = tags_df_group.iloc[:, 0:4]

#renaming columns
tags_df_group = tags_df_group.rename(columns={0:"tag_1", 1:"tag_2", 2:"tag_3", 3:"tag_4"})

#resetting index
tags_df_group.reset_index()

,movieId,tag_1,tag_2,tag_3,tag_4
0,1,pixar,pixar,fun,None
1,2,fantasy,magic board game,Robin Williams,game
2,3,moldy,old,None,None
3,5,pregnancy,remake,None,None
4,7,remake,None,None,None
...,...,...,...,...,...
1567,183611,Comedy,funny,Rachel McAdams,None
1568,184471,adventure,Alicia Vikander,video game adaptation,None
1569,187593,Josh Brolin,Ryan Reynolds,sarcasm,None
1570,187595,Emilia Clarke,star wars,None,None
1571,193565,anime,comedy,gintama,remaster

### Merging files into one dataframe for cleaning

In [711]:
#merging ratings, movies, and links
final_movies = pd.merge(ratings_df, movies_df, on="movieId", how="left")
final_movies = pd.merge(final_movies, links_df, on="movieId", how="left")
final_movies = pd.merge(final_movies, tags_df_group, on="movieId", how="left")

In [712]:
final_movies

,userId,movieId,rating,timestamp,Animation,Children,Romance,Drama,Crime,Adventure,Horror,Comedy,Sci-Fi,War,Thriller,Mystery,Film-Noir,Fantasy,Musical,Western,IMAX,Documentary,Action,year,real_title,imdbId,tmdbId,tag_1,tag_2,tag_3,tag_3
0,1,1,4.0,964982703,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1995,Toy Story,114709,862.0,pixar,pixar,fun,None
1,1,3,4.0,964981247,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1995,Grumpier Old Men,113228,15602.0,moldy,old,None,None
2,1,6,4.0,964982224,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1995,Heat,113277,949.0,NaN,NaN,NaN,NaN
3,1,47,5.0,964983815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1995,Seven (a.k.a. Se7en),114369,807.0,mystery,twist ending,serial killer,None
4,1,50,5.0,964982931,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1995,"Usual Suspects, The",114814,629.0,mindfuck,suspense,thriller,tricky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,Split,4972582,381288.0,NaN,NaN,NaN,NaN
100832,610,168248,5.0,1493850091,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2017,John Wick: Chapter Two,4425200,324552.0,action,dark hero,gun tactics,hitman
100833,610,168250,5.0,1494273047,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,Get Out,5052448,419430.0,NaN,NaN,NaN,NaN
100834,610,168252,5.0,1493846352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2017,Logan,3315342,263115.0,dark,emotional,gritty,heartbreaking
100835,610,170875,3.0,1493846415,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2017,The Fate of the Furious,4630562,337339.0,NaN,NaN,NaN,NaN

In [716]:
#making column names lowercase
final_movies.columns = final_movies.columns.str.lower()

# Data Preparation

To being, we will need to remove null values and split the genre column so this can be One Hot Encoded.

In [717]:
#saving as new dataframe for cleaning
movie_df = final_movies

In [718]:
#checking for null values
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 31 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   userid       100836 non-null  int64
 1   movieid      100836 non-null  int64
 2   rating       100836 non-null  float64
 3   timestamp    100836 non-null  int64
 4   animation    100819 non-null  float64
 5   children     100819 non-null  float64
 6   romance      100819 non-null  float64
 7   drama        100819 non-null  float64
 8   crime        100819 non-null  float64
 9   adventure    100819 non-null  float64
 10  horror       100819 non-null  float64
 11  comedy       100819 non-null  float64
 12  sci-fi       100819 non-null  float64
 13  war          100819 non-null  float64
 14  thriller     100819 non-null  float64
 15  mystery      100819 non-null  float64
 16  film-noir    100819 non-null  float64
 17  fantasy      100819 non-null  float64
 18  musical      100819 non-null  float64
 19  western      100819 non-null  float64
 20  imax         100819 non-null  float64
 21  documentary  100819 non-null  float64
 22  action       100819 non-null  float64
 23  year         100819 non-null  object
 24  real_title   100819 non-null  object
 25  imdbid       100836 non-null  int64
 26  tmdbid       100823 non-null  float64
 27  tag_1        48287 non-null   object
 28  tag_2        24163 non-null   object
 29  tag_3        17481 non-null   object
 30  tag_3        13660 non-null   object
dtypes: float64(21), int64(4), object(6)
memory usage: 24.6+ MB

In [719]:
#dropping genre columns that are mostly empty
movie_df = movie_df.drop(columns=["timestamp"])

In [720]:
#checking nulls
movie_df.isna().sum()

userid             0
movieid            0
rating             0
animation         17
children          17
romance           17
drama             17
crime             17
adventure         17
horror            17
comedy            17
sci-fi            17
war               17
thriller          17
mystery           17
film-noir         17
fantasy           17
musical           17
western           17
imax              17
documentary       17
action            17
year              17
real_title        17
imdbid             0
tmdbid            13
tag_1          52549
tag_2          76673
tag_3          83355
tag_3          87176
dtype: int64

In [721]:
#making year datetime
movie_df['year'].unique()

array(['1995', '1996', '1994', '1977', '1993', '1990', '1989', '1991',
       '1940', '1939', '1941', '1938', '1947', '1975', '1968', '1945',
       '1963', '1971', '1951', '1979', '1992', '1986', '1982', '1980',
       '1987', '1981', '1983', '1960', '1952', '1984', '1933', '1985',
       '1974', '1922', '1997', '1998', '1930', '1976', '1942', '1967',
       '1959', '1946', '1978', '1973', '1988', '1999', '1931', '1964',
       '1962', '1965', '1969', '2000', '1970', '2003', '2004', '2006',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '1955', '2002', '1961', '1954', '1957', '1943', '1956', '1966',
       '2001', '1937', '1972', '2005', '1950', '2007', '2016', '1926',
       '1944', '1949', '1936', '2017', '1958', '1935', '1927', '1953',
       '2018', '1923', '1902', '1920', '1948', '1928', nan, '1934',
       '1916', '1908', '1932', '1921', '1925', '1929', '1917', '1915',
       '1924', '1903', '1919'], dtype=object)

In [722]:
movie_df.dropna(inplace=True)

<ipython-input-722-6436970ac8a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df.dropna(inplace=True)

In [723]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13660 entries, 4 to 100834
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       13660 non-null  int64
 1   movieid      13660 non-null  int64
 2   rating       13660 non-null  float64
 3   animation    13660 non-null  float64
 4   children     13660 non-null  float64
 5   romance      13660 non-null  float64
 6   drama        13660 non-null  float64
 7   crime        13660 non-null  float64
 8   adventure    13660 non-null  float64
 9   horror       13660 non-null  float64
 10  comedy       13660 non-null  float64
 11  sci-fi       13660 non-null  float64
 12  war          13660 non-null  float64
 13  thriller     13660 non-null  float64
 14  mystery      13660 non-null  float64
 15  film-noir    13660 non-null  float64
 16  fantasy      13660 non-null  float64
 17  musical      13660 non-null  float64
 18  western      13660 non-null  float64
 19  imax         13660 non-null  float64
 20  documentary  13660 non-null  float64
 21  action       13660 non-null  float64
 22  year         13660 non-null  object
 23  real_title   13660 non-null  object
 24  imdbid       13660 non-null  int64
 25  tmdbid       13660 non-null  float64
 26  tag_1        13660 non-null  object
 27  tag_2        13660 non-null  object
 28  tag_3        13660 non-null  object
 29  tag_3        13660 non-null  object
dtypes: float64(21), int64(3), object(6)
memory usage: 3.2+ MB

In [724]:
movie_df['year'] = movie_df['year'].astype(int)

<ipython-input-724-6273ff180712>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['year'] = movie_df['year'].astype(int)

In [725]:
movie_df['year'].unique()

array([1995, 1994, 1977, 1993, 1991, 1996, 1992, 1975, 1980, 1981, 1960,
       1984, 1997, 1998, 1999, 1987, 2000, 2006, 2008, 2009, 2010, 2012,
       2013, 2014, 1954, 1957, 2001, 1964, 1968, 2002, 2003, 2004, 2005,
       1990, 2007, 1986, 2016, 1982, 1931, 2015, 2017, 1958, 2011, 2018,
       1967, 1959, 1950, 1988, 1952, 1976, 1985])

In [726]:
#making year datetime
movie_df['year'] = pd.to_datetime(movie_df['year'], format='%Y')

<ipython-input-726-eaccac6b9978>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['year'] = pd.to_datetime(movie_df['year'], format='%Y')

In [727]:
#confirming null values and datatypes
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13660 entries, 4 to 100834
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       13660 non-null  int64
 1   movieid      13660 non-null  int64
 2   rating       13660 non-null  float64
 3   animation    13660 non-null  float64
 4   children     13660 non-null  float64
 5   romance      13660 non-null  float64
 6   drama        13660 non-null  float64
 7   crime        13660 non-null  float64
 8   adventure    13660 non-null  float64
 9   horror       13660 non-null  float64
 10  comedy       13660 non-null  float64
 11  sci-fi       13660 non-null  float64
 12  war          13660 non-null  float64
 13  thriller     13660 non-null  float64
 14  mystery      13660 non-null  float64
 15  film-noir    13660 non-null  float64
 16  fantasy      13660 non-null  float64
 17  musical      13660 non-null  float64
 18  western      13660 non-null  float64
 19  imax         13660 non-null  float64
 20  documentary  13660 non-null  float64
 21  action       13660 non-null  float64
 22  year         13660 non-null  datetime64[ns]
 23  real_title   13660 non-null  object
 24  imdbid       13660 non-null  int64
 25  tmdbid       13660 non-null  float64
 26  tag_1        13660 non-null  object
 27  tag_2        13660 non-null  object
 28  tag_3        13660 non-null  object
 29  tag_3        13660 non-null  object
dtypes: datetime64[ns](1), float64(21), int64(3), object(5)
memory usage: 3.2+ MB

In [728]:
#renaming columns for modeling

name = ["userid", "movieid", "real_title", "tmdbid", "imdbid"]
new_name = ["user_id", "movie_id", "title","tmdb_id", "imdb_id"]

movie_df = movie_df.rename(columns=dict(zip(name, new_name)))

#### Final Cleaned Dataset (movie_df)
Features are:
- Genre
- Rating
- Tag

In [729]:
#reviewing final cleaned dataset
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13660 entries, 4 to 100834
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      13660 non-null  int64
 1   movie_id     13660 non-null  int64
 2   rating       13660 non-null  float64
 3   animation    13660 non-null  float64
 4   children     13660 non-null  float64
 5   romance      13660 non-null  float64
 6   drama        13660 non-null  float64
 7   crime        13660 non-null  float64
 8   adventure    13660 non-null  float64
 9   horror       13660 non-null  float64
 10  comedy       13660 non-null  float64
 11  sci-fi       13660 non-null  float64
 12  war          13660 non-null  float64
 13  thriller     13660 non-null  float64
 14  mystery      13660 non-null  float64
 15  film-noir    13660 non-null  float64
 16  fantasy      13660 non-null  float64
 17  musical      13660 non-null  float64
 18  western      13660 non-null  float64
 19  imax         13660 non-null  float64
 20  documentary  13660 non-null  float64
 21  action       13660 non-null  float64
 22  year         13660 non-null  datetime64[ns]
 23  title        13660 non-null  object
 24  imdb_id      13660 non-null  int64
 25  tmdb_id      13660 non-null  float64
 26  tag_1        13660 non-null  object
 27  tag_2        13660 non-null  object
 28  tag_3        13660 non-null  object
 29  tag_3        13660 non-null  object
dtypes: datetime64[ns](1), float64(21), int64(3), object(5)
memory usage: 3.2+ MB

In [730]:
#exploring that dataset
movie_df.describe()

,user_id,movie_id,rating,animation,children,romance,drama,crime,adventure,horror,comedy,sci-fi,war,thriller,mystery,film-noir,fantasy,musical,western,imax,documentary,action,imdb_id,tmdb_id
count,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.00000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,13660.000000,1.366000e+04,13660.000000
mean,312.538360,21714.679502,3.918302,0.077892,0.081918,0.122035,0.47123,0.272328,0.274597,0.077526,0.259883,0.257906,0.086896,0.334407,0.137994,0.001098,0.119180,0.026354,0.011493,0.075842,0.001171,0.354246,3.710889e+05,15397.337189
std,178.844401,35616.503573,0.951889,0.268011,0.274250,0.327338,0.49919,0.445174,0.446327,0.267433,0.438586,0.437498,0.281693,0.471800,0.344906,0.033121,0.324012,0.160193,0.106593,0.264755,0.034206,0.478302,5.479561e+05,47475.896359
min,1.000000,2.000000,0.500000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.210000e+04,11.000000
25%,159.000000,593.000000,3.500000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.098300e+05,274.000000
50%,313.000000,2762.000000,4.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.209030e+05,680.000000
75%,465.000000,35836.000000,4.500000,0.000000,0.000000,0.000000,1.00000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.645690e+05,8587.000000
max,610.000000,193565.000000,5.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.425200e+06,374430.000000

## Data Source #2 - TMDB API

The API pull includes credit (crew and cast) information for all movies.

Documentation - https://developers.themoviedb.org/3/movies/get-movie-credits

In [ ]:
# original api pull
# import requests
# import pandas as pd

## this is a list of all movie id's from the original dataframe
# movie_list_final = []

# for id_num in tmbd_list:
    
#     response = requests.get(''f"https://api.themoviedb.org/3/movie/{id_num}/credits?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US"'')

#     data = response.json()
    
#     #appending director name to list
#     movie_list_final.append(data)

In [739]:
import zipfile
 
# open zipped dataset
with zipfile.ZipFile("data/tmdb_pull_cast_crew.csv.zip") as z:
   # open the csv file in the dataset
   with z.open("tmdb_pull_cast_crew.csv") as f:
       
      # read the dataset
      api_df = pd.read_csv(f)

In [740]:
api_df

,Unnamed: 0,id,cast,crew,success,status_code,status_message
0,0,13.0,"[{'adult': False, 'gender': 2, 'id': 31, 'know...","[{'adult': False, 'gender': 2, 'id': 37, 'know...",NaN,NaN,NaN
1,1,278.0,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno...",NaN,NaN,NaN
2,2,680.0,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn...","[{'adult': False, 'gender': 2, 'id': 138, 'kno...",NaN,NaN,NaN
3,3,274.0,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn...","[{'adult': False, 'gender': 2, 'id': 117, 'kno...",NaN,NaN,NaN
4,4,603.0,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn...","[{'adult': False, 'gender': 2, 'id': 123, 'kno...",NaN,NaN,NaN
...,...,...,...,...,...,...,...
9710,9710,10846.0,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn...","[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",NaN,NaN,NaN
9711,9711,206296.0,"[{'adult': False, 'gender': 1, 'id': 84223, 'k...","[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",NaN,NaN,NaN
9712,9712,244688.0,"[{'adult': False, 'gender': 2, 'id': 1279972, ...","[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",NaN,NaN,NaN
9713,9713,47533.0,"[{'adult': False, 'gender': 1, 'id': 89110, 'k...","[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",NaN,NaN,NaN
9714,9714,74849.0,"[{'adult': False, 'gender': 2, 'id': 2, 'known...","[{'adult': False, 'gender': 2, 'id': 1, 'known...",NaN,NaN,NaN

In [741]:
#inspecting keys from api pill
api_df.keys()

Index(['Unnamed: 0', 'id', 'cast', 'crew', 'success', 'status_code',
       'status_message'],
      dtype='object')

In [742]:
#looking at crew
api_df.iloc[0]['crew']

'[{\'adult\': False, \'gender\': 2, \'id\': 37, \'known_for_department\': \'Sound\', \'name\': \'Alan Silvestri\', \'original_name\': \'Alan Silvestri\', \'popularity\': 2.829, \'profile_path\': \'/pQOAsQDuYMR4cKaPAP0wkRlCSNo.jpg\', \'credit_id\': \'52fe420ec3a36847f800076b\', \'department\': \'Sound\', \'job\': \'Original Music Composer\'}, {\'adult\': False, \'gender\': 2, \'id\': 37, \'known_for_department\': \'Sound\', \'name\': \'Alan Silvestri\', \'original_name\': \'Alan Silvestri\', \'popularity\': 2.829, \'profile_path\': \'/pQOAsQDuYMR4cKaPAP0wkRlCSNo.jpg\', \'credit_id\': \'5cc623de9251410961f44e23\', \'department\': \'Sound\', \'job\': \'Conductor\'}, {\'adult\': False, \'gender\': 2, \'id\': 24, \'known_for_department\': \'Directing\', \'name\': \'Robert Zemeckis\', \'original_name\': \'Robert Zemeckis\', \'popularity\': 11.27, \'profile_path\': \'/lPYDQ5LYNJ12rJZENtyASmVZ1Ql.jpg\', \'credit_id\': \'52fe420ec3a36847f800072d\', \'department\': \'Directing\', \'job\': \'Director\'}, {\'adult\': False, \'gender\': 2, \'id\': 26, \'known_for_department\': \'Writing\', \'name\': \'Winston Groom\', \'original_name\': \'Winston Groom\', \'popularity\': 1.45, \'profile_path\': \'/d5SooICKys7VofhLcBHi5LjGe63.jpg\', \'credit_id\': \'5690606ac3a3686b5200066a\', \'department\': \'Writing\', \'job\': \'Novel\'}, {\'adult\': False, \'gender\': 2, \'id\': 27, \'known_for_department\': \'Writing\', \'name\': \'Eric Roth\', \'original_name\': \'Eric Roth\', \'popularity\': 5.374, \'profile_path\': \'/16WXnoU1NP2H732P0qAQUtetSI9.jpg\', \'credit_id\': \'52fe420ec3a36847f8000781\', \'department\': \'Writing\', \'job\': \'Screenplay\'}, {\'adult\': False, \'gender\': 1, \'id\': 28, \'known_for_department\': \'Production\', \'name\': \'Wendy Finerman\', \'original_name\': \'Wendy Finerman\', \'popularity\': 0.98, \'profile_path\': None, \'credit_id\': \'52fe420ec3a36847f800073f\', \'department\': \'Production\', \'job\': \'Producer\'}, {\'adult\': False, \'gender\': 2, \'id\': 29, \'known_for_department\': \'Production\', \'name\': \'Steve Tisch\', \'original_name\': \'Steve Tisch\', \'popularity\': 1.131, \'profile_path\': \'/1qXa4o8gSQqxXSRp0X0lvRM018O.jpg\', \'credit_id\': \'52fe420ec3a36847f8000745\', \'department\': \'Production\', \'job\': \'Producer\'}, {\'adult\': False, \'gender\': 2, \'id\': 30, \'known_for_department\': \'Production\', \'name\': \'Steve Starkey\', \'original_name\': \'Steve Starkey\', \'popularity\': 1.098, \'profile_path\': \'/8YCSIPhLZ6HHbbypEFZY05B7l16.jpg\', \'credit_id\': \'52fe420ec3a36847f800074b\', \'department\': \'Production\', \'job\': \'Producer\'}, {\'adult\': False, \'gender\': 2, \'id\': 30, \'known_for_department\': \'Production\', \'name\': \'Steve Starkey\', \'original_name\': \'Steve Starkey\', \'popularity\': 1.098, \'profile_path\': \'/8YCSIPhLZ6HHbbypEFZY05B7l16.jpg\', \'credit_id\': \'5cc622200e0a26168dedc27d\', \'department\': \'Directing\', \'job\': \'Second Unit Director\'}, {\'adult\': False, \'gender\': 2, \'id\': 36, \'known_for_department\': \'Camera\', \'name\': \'Don Burgess\', \'original_name\': \'Don Burgess\', \'popularity\': 2.858, \'profile_path\': \'/aIB6XjNFDWxRpB2l5GKXWEzMI4O.jpg\', \'credit_id\': \'52fe420ec3a36847f8000765\', \'department\': \'Camera\', \'job\': \'Director of Photography\'}, {\'adult\': False, \'gender\': 2, \'id\': 38, \'known_for_department\': \'Editing\', \'name\': \'Arthur Schmidt\', \'original_name\': \'Arthur Schmidt\', \'popularity\': 1.818, \'profile_path\': \'/bSgfOvtFrtaftXSwXFLcI7Z0zKe.jpg\', \'credit_id\': \'52fe420ec3a36847f8000771\', \'department\': \'Editing\', \'job\': \'Editor\'}, {\'adult\': False, \'gender\': 2, \'id\': 37832, \'known_for_department\': \'Art\', \'name\': \'Kevin Mangan\', \'original_name\': \'Kevin Mangan\', \'popularity\': 1.267, \'profile_path\': None, \'credit_id\': \'5517d02dc3a36862f90034e1\', \'department\': \'Art\', \'job\': \'Greensman\'}, {\'adult\': False, \'gender\': 2, \'id\': 496, \'known_for_department\': \'Art\', \'name\': \'Rick Carter\', \'original_name\': \'Rick Carter\', \'popularity\': 2.145, \'profile_path\': \'/5QlzL72Du5zVs1E27pQ0OlFLImI.jpg\', \'credit_id\': \'5517cc68925141150000071c\', \'department\': \'Art\', \'job\': \'Production Design\'}, {\'adult\': False, \'gender\': 1, \'id\': 498, \'known_for_department\': \'Costume & Make-Up\', \'name\': \'Joanna Johnston\', \'original_name\': \'Joanna Johnston\', \'popularity\': 0.705, \'profile_path\': \'/xuCe7ZgtqOCaY6MUvXpG7buckXO.jpg\', \'credit_id\': \'55850aa6c3a36850300022a7\', \'department\': \'Costume & Make-Up\', \'job\': \'Costume Design\'}, {\'adult\': False, \'gender\': 1, \'id\': 555, \'known_for_department\': \'Art\', \'name\': \'Nancy Haigh\', \'original_name\': \'Nancy Haigh\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517ccb99251416efe0037c8\', \'department\': \'Art\', \'job\': \'Set Decoration\'}, {\'adult\': False, \'gender\': 1, \'id\': 2242, \'known_for_department\': \'Production\', \'name\': \'Ellen Lewis\', \'original_name\': \'Ellen Lewis\', \'popularity\': 1.561, \'profile_path\': None, \'credit_id\': \'532ec355c3a3685fcb003d7a\', \'department\': \'Production\', \'job\': \'Casting\'}, {\'adult\': False, \'gender\': 1, \'id\': 3992, \'known_for_department\': \'Sound\', \'name\': \'Gloria S. Borders\', \'original_name\': \'Gloria S. Borders\', \'popularity\': 0.732, \'profile_path\': None, \'credit_id\': \'5517d2b49251416f0d0038cb\', \'department\': \'Sound\', \'job\': \'Supervising Sound Editor\'}, {\'adult\': False, \'gender\': 2, \'id\': 8794, \'known_for_department\': \'Art\', \'name\': \'Tony Fanning\', \'original_name\': \'Tony Fanning\', \'popularity\': 0.711, \'profile_path\': None, \'credit_id\': \'5517cec1c3a3686692001b78\', \'department\': \'Art\', \'job\': \'Assistant Art Director\'}, {\'adult\': False, \'gender\': 2, \'id\': 8135, \'known_for_department\': \'Camera\', \'name\': \'Louis Rivera\', \'original_name\': \'Louis Rivera\', \'popularity\': 1.4, \'profile_path\': None, \'credit_id\': \'5cc623b29251415cd2f9f64f\', \'department\': \'Editing\', \'job\': \'Negative Cutter\'}, {\'adult\': False, \'gender\': 1, \'id\': 8160, \'known_for_department\': \'Sound\', \'name\': \'Dennie Thorpe\', \'original_name\': \'Dennie Thorpe\', \'popularity\': 0.727, \'profile_path\': None, \'credit_id\': \'5b1faa749251413f350027c8\', \'department\': \'Sound\', \'job\': \'Foley Artist\'}, {\'adult\': False, \'gender\': 0, \'id\': 8164, \'known_for_department\': \'Sound\', \'name\': \'Tony Eckert\', \'original_name\': \'Tony Eckert\', \'popularity\': 0.757, \'profile_path\': None, \'credit_id\': \'5b1faad80e0a267df600278a\', \'department\': \'Sound\', \'job\': \'Foley Recordist\'}, {\'adult\': False, \'gender\': 2, \'id\': 8274, \'known_for_department\': \'Art\', \'name\': \'Robert Greenfield\', \'original_name\': \'Robert Greenfield\', \'popularity\': 1.008, \'profile_path\': None, \'credit_id\': \'5517d09e9251412cb9001c5c\', \'department\': \'Art\', \'job\': \'Leadman\'}, {\'adult\': False, \'gender\': 1, \'id\': 8288, \'known_for_department\': \'Production\', \'name\': \'Debra James\', \'original_name\': \'Debra James\', \'popularity\': 0.828, \'profile_path\': None, \'credit_id\': \'59ce6cc79251416c77019b7e\', \'department\': \'Production\', \'job\': \'Production Coordinator\'}, {\'adult\': False, \'gender\': 2, \'id\': 8679, \'known_for_department\': \'Art\', \'name\': \'James Teegarden\', \'original_name\': \'James Teegarden\', \'popularity\': 1.847, \'profile_path\': None, \'credit_id\': \'5517cca39251412cb9001b85\', \'department\': \'Art\', \'job\': \'Art Direction\'}, {\'adult\': False, \'gender\': 2, \'id\': 9558, \'known_for_department\': \'Crew\', \'name\': \'Joey Box\', \'original_name\': \'Joey Box\', \'popularity\': 0.787, \'profile_path\': \'/q7XY8ZqhBoBfOb7RwpyrN0tM6TK.jpg\', \'credit_id\': \'59ce6b7fc3a3686ad7018880\', \'department\': \'Crew\', \'job\': \'Utility Stunts\'}, {\'adult\': False, \'gender\': 2, \'id\': 11166, \'known_for_department\': \'Sound\', \'name\': \'William Ross\', \'original_name\': \'William Ross\', \'popularity\': 1.215, \'profile_path\': None, \'credit_id\': \'59ce6d1fc3a3686aca019576\', \'department\': \'Sound\', \'job\': \'Orchestrator\'}, {\'adult\': False, \'gender\': 2, \'id\': 11113, \'known_for_department\': \'Camera\', \'name\': \'David M. Dunlap\', \'original_name\': \'David M. Dunlap\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5b1fa97dc3a3684030002474\', \'department\': \'Camera\', \'job\': \'Second Unit Director of Photography\'}, {\'adult\': False, \'gender\': 2, \'id\': 11412, \'known_for_department\': \'Art\', \'name\': \'Steve Arnold\', \'original_name\': \'Steve Arnold\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517ce5b9251411500000771\', \'department\': \'Art\', \'job\': \'Assistant Art Director\'}, {\'adult\': False, \'gender\': 2, \'id\': 14049, \'known_for_department\': \'Acting\', \'name\': \'Bud Davis\', \'original_name\': \'Bud Davis\', \'popularity\': 1.033, \'profile_path\': None, \'credit_id\': \'5517d59b9251412c1e001e45\', \'department\': \'Crew\', \'job\': \'Stunt Coordinator\'}, {\'adult\': False, \'gender\': 2, \'id\': 13930, \'known_for_department\': \'Directing\', \'name\': \'Bruce Moriarty\', \'original_name\': \'Bruce Moriarty\', \'popularity\': 2.601, \'profile_path\': None, \'credit_id\': \'59ce6ba5c3a3686a63019f24\', \'department\': \'Directing\', \'job\': \'First Assistant Director\'}, {\'adult\': False, \'gender\': 2, \'id\': 15004, \'known_for_department\': \'Production\', \'name\': \'Charles Newirth\', \'original_name\': \'Charles Newirth\', \'popularity\': 0.6, \'profile_path\': \'/4tTEd7eQRB9n0tj4Q9U7Wt0D5Qn.jpg\', \'credit_id\': \'59ce6b4fc3a3686a7e018532\', \'department\': \'Production\', \'job\': \'Unit Production Manager\'}, {\'adult\': False, \'gender\': 2, \'id\': 15004, \'known_for_department\': \'Production\', \'name\': \'Charles Newirth\', \'original_name\': \'Charles Newirth\', \'popularity\': 0.6, \'profile_path\': \'/4tTEd7eQRB9n0tj4Q9U7Wt0D5Qn.jpg\', \'credit_id\': \'5599ae44c3a3685f800025a3\', \'department\': \'Production\', \'job\': \'Co-Producer\'}, {\'adult\': False, \'gender\': 2, \'id\': 15318, \'known_for_department\': \'Crew\', \'name\': \'Keith Campbell\', \'original_name\': \'Keith Campbell\', \'popularity\': 1.49, \'profile_path\': \'/oPAqYzvsm2m3HtnxKTuzglgFxum.jpg\', \'credit_id\': \'59ce6ac2c3a3686a23019cdc\', \'department\': \'Crew\', \'job\': \'Stunts\'}, {\'adult\': False, \'gender\': 2, \'id\': 17630, \'known_for_department\': \'Production\', \'name\': \'Michael Tadross\', \'original_name\': \'Michael Tadross\', \'popularity\': 2.208, \'profile_path\': None, \'credit_id\': \'59ce6c91c3a3686aa901a2bc\', \'department\': \'Production\', \'job\': \'Executive In Charge Of Production\'}, {\'adult\': False, \'gender\': 2, \'id\': 18095, \'known_for_department\': \'Camera\', \'name\': \'Phillip V. Caruso\', \'original_name\': \'Phillip V. Caruso\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517d62fc3a3686692001cf7\', \'department\': \'Camera\', \'job\': \'Still Photographer\'}, {\'adult\': False, \'gender\': 2, \'id\': 22486, \'known_for_department\': \'Art\', \'name\': \'Robin L. Miller\', \'original_name\': \'Robin L. Miller\', \'popularity\': 0.619, \'profile_path\': None, \'credit_id\': \'5b1fa9230e0a267e0e002982\', \'department\': \'Art\', \'job\': \'Property Master\'}, {\'adult\': False, \'gender\': 0, \'id\': 23781, \'known_for_department\': \'Editing\', \'name\': "Jeremiah O\'Driscoll", \'original_name\': "Jeremiah O\'Driscoll", \'popularity\': 1.22, \'profile_path\': None, \'credit_id\': \'57530658c3a3684c1000067a\', \'department\': \'Editing\', \'job\': \'Assistant Editor\'}, {\'adult\': False, \'gender\': 2, \'id\': 23782, \'known_for_department\': \'Art\', \'name\': \'Doug Chiang\', \'original_name\': \'Doug Chiang\', \'popularity\': 0.6, \'profile_path\': \'/4BnyjdF0N1W6naFU0Exl0krR7RJ.jpg\', \'credit_id\': \'5517d4d99251412c1e001e15\', \'department\': \'Crew\', \'job\': \'Visual Effects Art Director\'}, {\'adult\': False, \'gender\': 2, \'id\': 42267, \'known_for_department\': \'Sound\', \'name\': \'Randy Thom\', \'original_name\': \'Randy Thom\', \'popularity\': 1.6, \'profile_path\': \'/oWv5U4r7NcIlQjs0IxMWE3dsx2l.jpg\', \'credit_id\': \'5517d298c3a3686692001c36\', \'department\': \'Sound\', \'job\': \'Sound Re-Recording Mixer\'}, {\'adult\': False, \'gender\': 0, \'id\': 42268, \'known_for_department\': \'Visual Effects\', \'name\': \'Debbie Denise\', \'original_name\': \'Debbie Denise\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517d4f1c3a368155200007f\', \'department\': \'Visual Effects\', \'job\': \'Visual Effects Producer\'}, {\'adult\': False, \'gender\': 0, \'id\': 42268, \'known_for_department\': \'Visual Effects\', \'name\': \'Debbie Denise\', \'original_name\': \'Debbie Denise\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517d51dc3a3685cfa001b63\', \'department\': \'Crew\', \'job\': \'Visual Effects Editor\'}, {\'adult\': False, \'gender\': 0, \'id\': 42269, \'known_for_department\': \'Visual Effects\', \'name\': \'Ken Ralston\', \'original_name\': \'Ken Ralston\', \'popularity\': 2.834, \'profile_path\': None, \'credit_id\': \'5517d57ec3a36863020034ad\', \'department\': \'Visual Effects\', \'job\': \'Visual Effects Supervisor\'}, {\'adult\': False, \'gender\': 0, \'id\': 42283, \'known_for_department\': \'Editing\', \'name\': \'Carin-Anne Strohmaier\', \'original_name\': \'Carin-Anne Strohmaier\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517d6dc9251416f0d0039a1\', \'department\': \'Editing\', \'job\': \'First Assistant Editor\'}, {\'adult\': False, \'gender\': 1, \'id\': 23972, \'known_for_department\': \'Art\', \'name\': \'Leslie McDonald\', \'original_name\': \'Leslie McDonald\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517cc80c3a3686302003317\', \'department\': \'Art\', \'job\': \'Art Direction\'}, {\'adult\': False, \'gender\': 2, \'id\': 26986, \'known_for_department\': \'Costume & Make-Up\', \'name\': \'Rick Sharp\', \'original_name\': \'Rick Sharp\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517cd8f9251411500000749\', \'department\': \'Costume & Make-Up\', \'job\': \'Makeup Artist\'}, {\'adult\': False, \'gender\': 1, \'id\': 38022, \'known_for_department\': \'Art\', \'name\': \'Lauren E. Polizzi\', \'original_name\': \'Lauren E. Polizzi\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517d153c3a36862f9003518\', \'department\': \'Art\', \'job\': \'Set Designer\'}, {\'adult\': False, \'gender\': 2, \'id\': 41082, \'known_for_department\': \'Art\', \'name\': \'Chris L. Spellman\', \'original_name\': \'Chris L. Spellman\', \'popularity\': 1.265, \'profile_path\': \'/jLh3uuQ7ANPpzLdhoDvkYI3V5dt.jpg\', \'credit_id\': \'5517d0d19251416f0000370b\', \'department\': \'Art\', \'job\': \'Leadman\'}, {\'adult\': False, \'gender\': 0, \'id\': 42358, \'known_for_department\': \'Production\', \'name\': \'Steven J. Boyd\', \'original_name\': \'Steven J. Boyd\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'575769e7c3a36814ec0003f4\', \'department\': \'Crew\', \'job\': \'Post Production Supervisor\'}, {\'adult\': False, \'gender\': 2, \'id\': 55227, \'known_for_department\': \'Sound\', \'name\': \'William B. Kaplan\', \'original_name\': \'William B. Kaplan\', \'popularity\': 0.681, \'profile_path\': None, \'credit_id\': \'56905ffcc3a3686b5b00061b\', \'department\': \'Sound\', \'job\': \'Production Sound Mixer\'}, {\'adult\': False, \'gender\': 2, \'id\': 55228, \'known_for_department\': \'Sound\', \'name\': \'Earl Sampson\', \'original_name\': \'Earl Sampson\', \'popularity\': 1.38, \'profile_path\': None, \'credit_id\': \'59ce6ce79251416c2801aabf\', \'department\': \'Sound\', \'job\': \'Boom Operator\'}, {\'adult\': False, \'gender\': 2, \'id\': 72752, \'known_for_department\': \'Production\', \'name\': \'Jim Morris\', \'original_name\': \'Jim Morris\', \'popularity\': 0.648, \'profile_path\': \'/5HFLUU1oz0cxG0iIrBl1H6CZcwX.jpg\', \'credit_id\': \'5cc624770e0a263447edab5e\', \'department\': \'Production\', \'job\': \'General Manager\'}, {\'adult\': False, \'gender\': 0, \'id\': 74765, \'known_for_department\': \'Costume & Make-Up\', \'name\': \'Jay Cannistraci\', \'original_name\': \'Jay Cannistraci\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517cd76c3a36862f9003472\', \'department\': \'Costume & Make-Up\', \'job\': \'Makeup Artist\'}, {\'adult\': False, \'gender\': 2, \'id\': 82240, \'known_for_department\': \'Acting\', \'name\': \'Lindsey Buckingham\', \'original_name\': \'Lindsey Buckingham\', \'popularity\': 1.012, \'profile_path\': \'/nghrXAFaZxnY5wkGOmZqbyWRoPe.jpg\', \'credit_id\': \'57576ba092514142940006ae\', \'department\': \'Crew\', \'job\': \'Thanks\'}, {\'adult\': False, \'gender\': 0, \'id\': 91905, \'known_for_department\': \'Camera\', \'name\': "Jeff \'Moose\' Howery", \'original_name\': "Jeff \'Moose\' Howery", \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5cc6234f0e0a263447eda91c\', \'department\': \'Camera\', \'job\': \'Dolly Grip\'}, {\'adult\': False, \'gender\': 2, \'id\': 104378, \'known_for_department\': \'Acting\', \'name\': \'Jim Hanks\', \'original_name\': \'Jim Hanks\', \'popularity\': 3.378, \'profile_path\': \'/cCbIqfWR8pS5vsQ8A4Bvqc7wMnQ.jpg\', \'credit_id\': \'602a0a27dbcade003e7918e1\', \'department\': \'Crew\', \'job\': \'Stunt Double\'}, {\'adult\': False, \'gender\': 0, \'id\': 223913, \'known_for_department\': \'Camera\', \'name\': \'Sam Taybi\', \'original_name\': \'Sam Taybi\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5cc62326c3a3684b34830186\', \'department\': \'Camera\', \'job\': \'Best Boy Grip\'}, {\'adult\': False, \'gender\': 0, \'id\': 237398, \'known_for_department\': \'Acting\', \'name\': \'Michael McGovern\', \'original_name\': \'Michael McGovern\', \'popularity\': 0.98, \'profile_path\': None, \'credit_id\': \'5517d54cc3a3685cfa001b72\', \'department\': \'Crew\', \'job\': \'Visual Effects Editor\'}, {\'adult\': False, \'gender\': 0, \'id\': 404895, \'known_for_department\': \'Sound\', \'name\': \'Phil Benson\', \'original_name\': \'Phil Benson\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5b1faaf00e0a267e1d00294e\', \'department\': \'Sound\', \'job\': \'Assistant Sound Designer\'}, {\'adult\': False, \'gender\': 0, \'id\': 957889, \'known_for_department\': \'Art\', \'name\': \'Stefan Dechant\', \'original_name\': \'Stefan Dechant\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'59ce6920c3a3686a63019ab3\', \'department\': \'Art\', \'job\': \'Production Illustrator\'}, {\'adult\': False, \'gender\': 0, \'id\': 1017376, \'known_for_department\': \'Camera\', \'name\': \'Chris Squires\', \'original_name\': \'Chris Squires\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517d5ff9251416f0a003867\', \'department\': \'Camera\', \'job\': \'Camera Operator\'}, {\'adult\': False, \'gender\': 0, \'id\': 1041458, \'known_for_department\': \'Acting\', \'name\': \'Robert J. Groden\', \'original_name\': \'Robert J. Groden\', \'popularity\': 1.38, \'profile_path\': None, \'credit_id\': \'57576bc5c3a3686dfa0006a6\', \'department\': \'Crew\', \'job\': \'Thanks\'}, {\'adult\': False, \'gender\': 0, \'id\': 1178899, \'known_for_department\': \'Costume & Make-Up\', \'name\': \'Craig Lyman\', \'original_name\': \'Craig Lyman\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'57ce0d2d9251413db9002eb1\', \'department\': \'Costume & Make-Up\', \'job\': \'Makeup Artist\'}, {\'adult\': False, \'gender\': 0, \'id\': 1271932, \'known_for_department\': \'Visual Effects\', \'name\': \'Stephen Rosenbaum\', \'original_name\': \'Stephen Rosenbaum\', \'popularity\': 0.6, \'profile_path\': None, \'credit_id\': \'5517d496c3a36862ef00368c\

In [743]:
#confirming crew type
type(api_df.iloc[0]['crew'])

str

### Breaking out crew list to find director

In [744]:
#dropping null values from crew
api_df = api_df.dropna(subset=["crew"])

In [745]:
#defining function to turn crew from a list to a string

def list_dict(row):
    return list(eval(row))

In [746]:
#lambda function to make list of dictionaries column
api_df['list_dict'] = api_df['crew'].apply(lambda x: list_dict(x))

<ipython-input-746-62775a7893a7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  api_df['list_dict'] = api_df['crew'].apply(lambda x: list_dict(x))

In [747]:
def find_director(row):

    for entry in row:
        if entry['job'] == 'Director':
            name = entry['name']
            return name

In [748]:
#making a lambda function
api_df['director'] = api_df['list_dict'].apply(lambda x: find_director(x))

<ipython-input-748-03dff9ed8a2b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  api_df['director'] = api_df['list_dict'].apply(lambda x: find_director(x))

In [749]:
api_df

,Unnamed: 0,id,cast,crew,success,status_code,status_message,list_dict,director
0,0,13.0,"[{'adult': False, 'gender': 2, 'id': 31, 'know...","[{'adult': False, 'gender': 2, 'id': 37, 'know...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 37, 'know...",Robert Zemeckis
1,1,278.0,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 153, 'kno...",Frank Darabont
2,2,680.0,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn...","[{'adult': False, 'gender': 2, 'id': 138, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 138, 'kno...",Quentin Tarantino
3,3,274.0,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn...","[{'adult': False, 'gender': 2, 'id': 117, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 117, 'kno...",Jonathan Demme
4,4,603.0,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn...","[{'adult': False, 'gender': 2, 'id': 123, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 123, 'kno...",Lilly Wachowski
...,...,...,...,...,...,...,...,...,...
9710,9710,10846.0,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn...","[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",Roberto Benigni
9711,9711,206296.0,"[{'adult': False, 'gender': 1, 'id': 84223, 'k...","[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",Richard LaGravenese
9712,9712,244688.0,"[{'adult': False, 'gender': 2, 'id': 1279972, ...","[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",Josh Stolberg
9713,9713,47533.0,"[{'adult': False, 'gender': 1, 'id': 89110, 'k...","[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",Brian Levant
9714,9714,74849.0,"[{'adult': False, 'gender': 2, 'id': 2, 'known...","[{'adult': False, 'gender': 2, 'id': 1, 'known...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1, 'known...",Steve Binder

In [750]:
#dropping null values
api_df = api_df.dropna(subset=['director'])

### Breaking out cast list to find actors

In [751]:
#dropping null values from crew
api_df = api_df.dropna(subset=["cast"])

In [752]:
#lambda function to make list of dictionaries column from cast
api_df['cast_dict'] = api_df['cast'].apply(lambda x: list_dict(x))

In [753]:
api_df

,Unnamed: 0,id,cast,crew,success,status_code,status_message,list_dict,director,cast_dict
0,0,13.0,"[{'adult': False, 'gender': 2, 'id': 31, 'know...","[{'adult': False, 'gender': 2, 'id': 37, 'know...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 37, 'know...",Robert Zemeckis,"[{'adult': False, 'gender': 2, 'id': 31, 'know..."
1,1,278.0,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 153, 'kno...",Frank Darabont,"[{'adult': False, 'gender': 2, 'id': 504, 'kno..."
2,2,680.0,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn...","[{'adult': False, 'gender': 2, 'id': 138, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 138, 'kno...",Quentin Tarantino,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn..."
3,3,274.0,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn...","[{'adult': False, 'gender': 2, 'id': 117, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 117, 'kno...",Jonathan Demme,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn..."
4,4,603.0,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn...","[{'adult': False, 'gender': 2, 'id': 123, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 123, 'kno...",Lilly Wachowski,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn..."
...,...,...,...,...,...,...,...,...,...,...
9710,9710,10846.0,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn...","[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",Roberto Benigni,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn..."
9711,9711,206296.0,"[{'adult': False, 'gender': 1, 'id': 84223, 'k...","[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",Richard LaGravenese,"[{'adult': False, 'gender': 1, 'id': 84223, 'k..."
9712,9712,244688.0,"[{'adult': False, 'gender': 2, 'id': 1279972, ...","[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",Josh Stolberg,"[{'adult': False, 'gender': 2, 'id': 1279972, ..."
9713,9713,47533.0,"[{'adult': False, 'gender': 1, 'id': 89110, 'k...","[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",Brian Levant,"[{'adult': False, 'gender': 1, 'id': 89110, 'k..."
9714,9714,74849.0,"[{'adult': False, 'gender': 2, 'id': 2, 'known...","[{'adult': False, 'gender': 2, 'id': 1, 'known...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1, 'known...",Steve Binder,"[{'adult': False, 'gender': 2, 'id': 2, 'known..."

In [754]:
api_df['cast_dict'][0]

[{'adult': False,
  'gender': 2,
  'id': 31,
  'known_for_department': 'Acting',
  'name': 'Tom Hanks',
  'original_name': 'Tom Hanks',
  'popularity': 71.995,
  'profile_path': '/xndWFsBlClOJFRdhSt4NBwiPq2o.jpg',
  'cast_id': 7,
  'character': 'Forrest Gump',
  'credit_id': '52fe420ec3a36847f800074f',
  'order': 0},
 {'adult': False,
  'gender': 1,
  'id': 32,
  'known_for_department': 'Acting',
  'name': 'Robin Wright',
  'original_name': 'Robin Wright',
  'popularity': 22.708,
  'profile_path': '/d3rIv0y2p0jMsQ7ViR7O1606NZa.jpg',
  'cast_id': 8,
  'character': 'Jenny Curran',
  'credit_id': '52fe420ec3a36847f8000753',
  'order': 1},
 {'adult': False,
  'gender': 2,
  'id': 33,
  'known_for_department': 'Acting',
  'name': 'Gary Sinise',
  'original_name': 'Gary Sinise',
  'popularity': 18.864,
  'profile_path': '/ngYV91xYfCu0JNcSxJ4yQ7tzOna.jpg',
  'cast_id': 9,
  'character': 'Lieutenant Dan Taylor',
  'credit_id': '52fe420ec3a36847f8000757',
  'order': 2},
 {'adult': False,
  'gender': 1,
  'id': 35,
  'known_for_department': 'Acting',
  'name': 'Sally Field',
  'original_name': 'Sally Field',
  'popularity': 18.631,
  'profile_path': '/5fBK36MdmdwQQMuP0W70rXADXih.jpg',
  'cast_id': 11,
  'character': 'Mrs. Gump',
  'credit_id': '52fe420ec3a36847f800075f',
  'order': 3},
 {'adult': False,
  'gender': 2,
  'id': 34,
  'known_for_department': 'Acting',
  'name': 'Mykelti Williamson',
  'original_name': 'Mykelti Williamson',
  'popularity': 16.115,
  'profile_path': '/8TnU8lT8uJp97vKi5AluaQFuTZI.jpg',
  'cast_id': 10,
  'character': "Benjamin Buford 'Bubba' Blue",
  'credit_id': '52fe420ec3a36847f800075b',
  'order': 4},
 {'adult': False,
  'gender': 2,
  'id': 37821,
  'known_for_department': 'Acting',
  'name': 'Michael Conner Humphreys',
  'original_name': 'Michael Conner Humphreys',
  'popularity': 6.094,
  'profile_path': '/irYRs3COggVHg91jL3CrlCIWmnx.jpg',
  'cast_id': 38,
  'character': 'Young Forrest Gump',
  'credit_id': '540b61f0c3a368799f001e2b',
  'order': 5},
 {'adult': False,
  'gender': 1,
  'id': 204997,
  'known_for_department': 'Acting',
  'name': 'Hanna Hall',
  'original_name': 'Hanna Hall',
  'popularity': 10.49,
  'profile_path': '/xkZ2Hwz1QLXvQCgGlWgVgx00Rtd.jpg',
  'cast_id': 33,
  'character': 'Young Jenny Curran',
  'credit_id': '52fe420ec3a36847f8000785',
  'order': 6},
 {'adult': False,
  'gender': 2,
  'id': 9640,
  'known_for_department': 'Acting',
  'name': 'Haley Joel Osment',
  'original_name': 'Haley Joel Osment',
  'popularity': 28.004,
  'profile_path': '/jft0dGgR5bJ6mR7QRYriMVBC6QH.jpg',
  'cast_id': 25,
  'character': 'Forrest Junior',
  'credit_id': '52fe420ec3a36847f8000775',
  'order': 7},
 {'adult': False,
  'gender': 1,
  'id': 6751,
  'known_for_department': 'Acting',
  'name': 'Siobhan Fallon Hogan',
  'original_name': 'Siobhan Fallon Hogan',
  'popularity': 7.81,
  'profile_path': '/5OExagnRsUcOYLMPTSrv4x2G95R.jpg',
  'cast_id': 34,
  'character': 'School Bus Driver',
  'credit_id': '52fe420ec3a36847f8000789',
  'order': 8},
 {'adult': False,
  'gender': 1,
  'id': 3817610,
  'known_for_department': 'Acting',
  'name': 'Rebecca Williams',
  'original_name': 'Rebecca Williams',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 292,
  'character': 'Nurse at Park Bench',
  'credit_id': '638ef542fb834600846ce74f',
  'order': 9},
 {'adult': False,
  'gender': 2,
  'id': 196855,
  'known_for_department': 'Acting',
  'name': 'Bob Penny',
  'original_name': 'Bob Penny',
  'popularity': 2.936,
  'profile_path': '/28JAyf5kFHLSxI8Ny6HXMyU84nO.jpg',
  'cast_id': 178,
  'character': 'Crony',
  'credit_id': '57d2dfcdc3a3684297000c72',
  'order': 10},
 {'adult': False,
  'gender': 0,
  'id': 3052237,
  'known_for_department': 'Acting',
  'name': 'Harold G. Herthum',
  'original_name': 'Harold G. Herthum',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 294,
  'character': 'Doctor',
  'credit_id': '638efa51196757026ca4ecce',
  'order': 11},
 {'adult': False,
  'gender': 2,
  'id': 951881,
  'known_for_department': 'Acting',
  'name': 'George Kelly',
  'original_name': 'George Kelly',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 109,
  'character': 'Barber',
  'credit_id': '55d0c1f9c3a3681bf9008562',
  'order': 12},
 {'adult': False,
  'gender': 2,
  'id': 3817629,
  'known_for_department': 'Acting',
  'name': 'John Randall',
  'original_name': 'John Randall',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 293,
  'character': 'Crony',
  'credit_id': '638ef986ca0e1700ab26d847',
  'order': 13},
 {'adult': False,
  'gender': 2,
  'id': 36221,
  'known_for_department': 'Acting',
  'name': 'Sam Anderson',
  'original_name': 'Sam Anderson',
  'popularity': 4.47,
  'profile_path': '/AnSyGuhjALUwUzMfQFhYMSJp4ra.jpg',
  'cast_id': 110,
  'character': 'Principal Hancock',
  'credit_id': '55d0c22bc3a36877570013ec',
  'order': 14},
 {'adult': False,
  'gender': 1,
  'id': 1215432,
  'known_for_department': 'Acting',
  'name': 'Margo Moorer',
  'original_name': 'Margo Moorer',
  'popularity': 3.06,
  'profile_path': '/9BqVk8t7Mw9RiY4FILgNfnwm2eD.jpg',
  'cast_id': 111,
  'character': 'Louise',
  'credit_id': '55d0c25c9251413193007a8c',
  'order': 15},
 {'adult': False,
  'gender': 1,
  'id': 3817635,
  'known_for_department': 'Acting',
  'name': 'Ione M. Telech',
  'original_name': 'Ione M. Telech',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 295,
  'character': 'Elderly Woman',
  'credit_id': '638efb30fb834600a67836ae',
  'order': 16},
 {'adult': False,
  'gender': 1,
  'id': 3817637,
  'known_for_department': 'Acting',
  'name': 'Christine Seabrook',
  'original_name': 'Christine Seabrook',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 296,
  'character': "Elderly Woman's Daughter",
  'credit_id': '638efbc1ca0e1700871a8dfe',
  'order': 17},
 {'adult': False,
  'gender': 2,
  'id': 946856,
  'known_for_department': 'Acting',
  'name': 'John Worsham',
  'original_name': 'John Worsham',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 288,
  'character': 'Southern Gentleman / Landowner',
  'credit_id': '62c281bb3a48c5004cbf4c94',
  'order': 18},
 {'adult': False,
  'gender': 2,
  'id': 37822,
  'known_for_department': 'Acting',
  'name': 'Peter Dobson',
  'original_name': 'Peter Dobson',
  'popularity': 2.404,
  'profile_path': '/hvBUOf3hLnjUGbZuSwZWG5m76ur.jpg',
  'cast_id': 105,
  'character': 'Young Elvis Presley',
  'credit_id': '5517d886c3a36862ff003646',
  'order': 19},
 {'adult': False,
  'gender': 2,
  'id': 1808925,
  'known_for_department': 'Acting',
  'name': 'Alexander Zemeckis',
  'original_name': 'Alexander Zemeckis',
  'popularity': 0.828,
  'profile_path': None,
  'cast_id': 297,
  'character': 'School Bus Boy',
  'credit_id': '638efd1604733f0085d04b99',
  'order': 20},
 {'adult': False,
  'gender': 2,
  'id': 3817649,
  'known_for_department': 'Acting',
  'name': 'Logan Livingston Gomez',
  'original_name': 'Logan Livingston Gomez',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 298,
  'character': 'School Bus Boy',
  'credit_id': '638efd59fb8346008c40a32b',
  'order': 21},
 {'adult': False,
  'gender': 2,
  'id': 3817652,
  'known_for_department': 'Acting',
  'name': 'Ben Waddel',
  'original_name': 'Ben Waddel',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 299,
  'character': 'School Bus Boy',
  'credit_id': '638efdb9ca0e1700ba362ee9',
  'order': 22},
 {'adult': False,
  'gender': 1,
  'id': 2392748,
  'known_for_department': 'Acting',
  'name': 'Elizabeth Hanks',
  'original_name': 'Elizabeth Hanks',
  'popularity': 3.175,
  'profile_path': '/hx4aVRRNEjbGmP0LMF1E8TSrQ7X.jpg',
  'cast_id': 300,
  'character': 'School Bus Girl',
  'credit_id': '638f01b75800c4008bb4d8b7',
  'order': 23},
 {'adult': False,
  'gender': 2,
  'id': 2020776,
  'known_for_department': 'Acting',
  'name': 'Tyler Long',
  'original_name': 'Tyler Long',
  'popularity': 0.732,
  'profile_path': None,
  'cast_id': 283,
  'character': 'Red Headed Boy',
  'credit_id': '60c6a58399259c00596f6a7d',
  'order': 24},
 {'adult': False,
  'gender': 2,
  'id': 1019727,
  'known_for_department': 'Acting',
  'name': 'Christopher Jones',
  'original_name': 'Christopher Jones',
  'popularity': 0.636,
  'profile_path': '/2EuDwtnOIJgLlBZWwpWYia0rxz3.jpg',
  'cast_id': 112,
  'character': 'Boy with Cross',
  'credit_id': '55d0c33bc3a3681bf900857d',
  'order': 25},
 {'adult': False,
  'gender': 0,
  'id': 2939086,
  'known_for_department': 'Acting',
  'name': 'Grady Bowman',
  'original_name': 'Grady Bowman',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 301,
  'character': 'Fat Boy',
  'credit_id': '638f0778fb834600ccd47caf',
  'order': 26},
 {'adult': False,
  'gender': 2,
  'id': 37832,
  'known_for_department': 'Art',
  'name': 'Kevin Mangan',
  'original_name': 'Kevin Mangan',
  'popularity': 1.267,
  'profile_path': None,
  'cast_id': 113,
  'character': "Jenny's Father",
  'credit_id': '55d0c375c3a3685875004bfe',
  'order': 27},
 {'adult': False,
  'gender': 1,
  'id': 3817687,
  'known_for_department': 'Acting',
  'name': 'Fay Genens',
  'original_name': 'Fay Genens',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 302,
  'character': "Jenny's Grandmother",
  'credit_id': '638f07ce5800c4007bde0016',
  'order': 28},
 {'adult': False,
  'gender': 2,
  'id': 3817690,
  'known_for_department': 'Acting',
  'name': 'Frank Geyer',
  'original_name': 'Frank Geyer',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 303,
  'character': 'Police Chief',
  'credit_id': '638f08edba131b00aeb88f0f',
  'order': 29},
 {'adult': False,
  'gender': 2,
  'id': 3032761,
  'known_for_department': 'Camera',
  'name': 'Rob Landry',
  'original_name': 'Rob Landry',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 304,
  'character': 'Red Headed Teen',
  'credit_id': '638f0a2419675702b587ecf3',
  'order': 30},
 {'adult': False,
  'gender': 2,
  'id': 2140105,
  'known_for_department': 'Acting',
  'name': 'Jason McGuire',
  'original_name': 'Jason McGuire',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 305,
  'character': 'Fat Teen',
  'credit_id': '638f0a5c196757023a9c8442',
  'order': 31},
 {'adult': False,
  'gender': 2,
  'id': 3817708,
  'known_for_department': 'Acting',
  'name': 'Pete Auster',
  'original_name': 'Pete Auster',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 306,
  'character': 'Teen with Cross',
  'credit_id': '638f0b4904733f00a0ba384c',
  'order': 32},
 {'adult': False,
  'gender': 2,
  'id': 37823,
  'known_for_department': 'Acting',
  'name': 'Sonny Shroyer',
  'original_name': 'Sonny Shroyer',
  'popularity': 1.655,
  'profile_path': '/f68GKDlKc2KVGfmDoGNTQdO45of.jpg',
  'cast_id': 106,
  'character': 'College Football Coach',
  'credit_id': '5517d8dd9251412c1e001eb4',
  'order': 33},
 {'adult': False,
  'gender': 2,
  'id': 29934,
  'known_for_department': 'Acting',
  'name': 'Brett Rice',
  'original_name': 'Brett Rice',
  'popularity': 6.942,
  'profile_path': '/4OTUfCVDOsCFQoQwiNE8deDFxKW.jpg',
  'cast_id': 114,
  'character': 'High School Football Coach',
  'credit_id': '55d0c3f19251412e51006c2c',
  'order': 34},
 {'adult': False,
  'gender': 2,
  'id': 2894942,
  'known_for_department': 'Acting',
  'name': 'Ed Davis',
  'original_name': 'Ed Davis',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 307,
  'character': 'High School Football Coach',
  'credit_id': '638f0c85ca0e1700871a9cd1',
  'order': 35},
 {'adult': False,
  'gender': 2,
  'id': 14526,
  'known_for_department': 'Costume & Make-Up',
  'name': 'Daniel C. Striepeke',
  'original_name': 'Daniel C. Striepeke',
  'popularity': 1.4,
  'profile_path': '/hZwRXmkWsOcHBte3MT6U00Lxb6E.jpg',
  'cast_id': 115,
  'character': 'Recruiter',
  'credit_id': '55d0c41cc3a3681567007ae7',
  'order': 36},
 {'adult': False,
  'gender': 2,
  'id': 3817721,
  'known_for_department': 'Acting',
  'name': 'Bruce Lucvia',
  'original_name': 'Bruce Lucvia',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 308,
  'character': 'Kick Off Return Player',
  'credit_id': '638f0dc55800c400a5dc630f',
  'order': 37},
 {'adult': False,
  'gender': 2,
  'id': 6310,
  'known_for_department': 'Acting',
  'name': 'David Brisbin',
  'original_name': 'David Brisbin',
  'popularity': 2.906,
  'profile_path': '/fAgB15d1ymblIINhXS1yK0xQ9nq.jpg',
  'cast_id': 116,
  'character': 'Newscaster',
  'credit_id': '55d0c44f92514131a5007b43',
  'order': 38},
 {'adult': False,
  'gender': 2,
  'id': 154697,
  'known_for_department': 'Acting',
  'name': 'Kirk Ward',
  'original_name': 'Kirk Ward',
  'popularity': 3.373,
  'profile_path': '/68NZ7XcN0aUYurJ4v29V8zQZxQz.jpg',
  'cast_id': 117,
  'character': 'Earl',
  'credit_id': '55d0c46b9251413196007bab',
  'order': 39},
 {'adult': False,
  'gender': 1,
  'id': 3817723,
  'known_for_department': 'Acting',
  'name': 'Angela Lomas',
  'original_name': 'Angela Lomas',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 309,
  'character': 'Black Student',
  'credit_id': '638f0e7fca0e1700ab26e998',
  'order': 40},
 {'adult': False,
  'gender': 2,
  'id': 3817724,
  'known_for_department': 'Acting',
  'name': 'Timothy Record',
  'original_name': 'Timothy Record',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 310,
  'character': 'Black Student',
  'credit_id': '638f0ec304733f0085d05d07',
  'order': 41},
 {'adult': False,
  'gender': 1,
  'id': 3817728,
  'known_for_department': 'Acting',
  'name': 'Deborah McTeer',
  'original_name': 'Deborah McTeer',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 311,
  'character': 'Woman with Child on Park Bench',
  'credit_id': '638f0f93ca0e1700871aa05e',
  'order': 42},
 {'adult': False,
  'gender': 2,
  'id': 975108,
  'known_for_department': 'Acting',
  'name': 'Mark Matheisen',
  'original_name': 'Mark Matheisen',
  'popularity': 1.048,
  'profile_path': None,
  'cast_id': 118,
  'character': "Jenny's Date",
  'credit_id': '55d0c4ba9251413198007f86',
  'order': 43},
 {'adult': False,
  'gender': 2,
  'id': 129725,
  'known_for_department': 'Acting',
  'name': 'Al Harrington',
  'original_name': 'Al Harrington',
  'popularity': 3.527,
  'profile_path': '/FepXr5LVYheBPiKUtka0ScSRIy.jpg',
  'cast_id': 119,
  'character': 'Local Anchor #1',
  'credit_id': '55d0c4e8c3a3685875004c1e',
  'order': 44},
 {'adult': False,
  'gender': 0,
  'id': 37824,
  'known_for_department': 'Acting',
  'name': 'Jed Gillin',
  'original_name': 'Jed Gillin',
  'popularity': 1.659,
  'profile_path': None,
  'cast_id': 120,
  'character': 'President John F. Kennedy (voice)',
  'credit_id': '55d0c51bc3a3681bee007a2f',
  'order': 45},
 {'adult': False,
  'gender': 2,
  'id': 2428975,
  'known_for_department': 'Acting',
  'name': 'Bob Harks',
  'original_name': 'Bob Harks',
  'popularity': 4.891,
  'profile_path': '/wNvgM0pNYk8M6O3rGn9JzWViHaC.jpg',
  'cast_id': 280,
  'character': 'University Dean',
  'credit_id': '5f6ede39ea394900373f992b',
  'order': 46},
 {'adult': False,
  'gender': 2,
  'id': 1346510,
  'known_for_department': 'Acting',
  'name': 'Don Fischer',
  'original_name': 'Don Fischer',
  'popularity': 1.4,
  'profile_path': '/eI9AMMri9T0jDeT2BOpceCdmS3u.jpg',
  'cast_id': 121,
  'character': 'Army Recruiter',
  'credit_id': '55d0c5479251413196007bbc',
  'order': 47},
 {'adult': False,
  'gender': 2,
  'id': 3817735,
  'known_for_department': 'Acting',
  'name': 'Kenneth Bevington',
  'original_name': 'Kenneth Bevington',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 312,
  'character': 'Army Bus Driver',
  'credit_id': '638f10e0ca0e1700804788e3',
  'order': 48},
 {'adult': False,
  'gender': 2,
  'id': 2679690,
  'known_for_department': 'Acting',
  'name': 'Michael Flannery',
  'original_name': 'Michael Flannery',
  'popularity': 0.6,
  'profile_path': '/wJ64aHeuAnkPjJOtRatYWQ5AdDH.jpg',
  'cast_id': 313,
  'character': 'Bus Recruit',
  'credit_id': '638f11405800c4008344b6ca',
  'order': 49},
 {'adult': False,
  'gender': 0,
  'id': 3817742,
  'known_for_department': 'Acting',
  'name': 'Gary Robinson',
  'original_name': 'Gary Robinson',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 314,
  'character': 'Bus Recruit',
  'credit_id': '638f11a25800c400d998a514',
  'order': 50},
 {'adult': False,
  'gender': 1,
  'id': 37831,
  'known_for_department': 'Acting',
  'name': 'Marlena Smalls',
  'original_name': 'Marlena Smalls',
  'popularity': 0.6,
  'profile_path': '/hAd99U0YoeXdpiN2zCosZT8XBtf.jpg',
  'cast_id': 180,
  'character': "Bubba's Mother",
  'credit_id': '586b9a9e9251415d240050cc',
  'order': 51},
 {'adult': False,
  'gender': 1,
  'id': 37830,
  'known_for_department': 'Acting',
  'name': 'Kitty K. Green',
  'original_name': 'Kitty K. Green',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 179,
  'character': "Bubba's Great Grandmother",
  'credit_id': '586b9997c3a3685e99005614',
  'order': 52},
 {'adult': False,
  'gender': 2,
  'id': 37825,
  'known_for_department': 'Acting',
  'name': 'Afemo Omilami',
  'original_name': 'Afemo Omilami',
  'popularity': 3.575,
  'profile_path': '/usW1GHq20ZEX3rpei1HpeXfSpiP.jpg',
  'cast_id': 35,
  'character': 'Drill Sergeant',
  'credit_id': '52fe420ec3a36847f800078d',
  'order': 53},
 {'adult': False,
  'gender': 2,
  'id': 1088274,
  'known_for_department': 'Acting',
  'name': 'Matt Wallace',
  'original_name': 'Matt Wallace',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 122,
  'character': 'Barracks Recruit',
  'credit_id': '55d0c5b7c3a3681bee007a45',
  'order': 54},
 {'adult': False,
  'gender': 1,
  'id': 3206176,
  'known_for_department': 'Acting',
  'name': 'Danté McCarthy',
  'original_name': 'Danté McCarthy',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 315,
  'character': 'Topless Girl',
  'credit_id': '638f1291196757024ebd4abd',
  'order': 55},
 {'adult': False,
  'gender': 0,
  'id': 1838775,
  'known_for_department': 'Crew',
  'name': 'Paulie DiCocco',
  'original_name': 'Paulie DiCocco',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 316,
  'character': 'Emcee',
  'credit_id': '638f12aefb834600a6784da1',
  'order': 56},
 {'adult': False,
  'gender': 2,
  'id': 114326,
  'known_for_department': 'Acting',
  'name': 'Mike Jolly',
  'original_name': 'Mike Jolly',
  'popularity': 3.179,
  'profile_path': '/vkam2sRjy7yfQj847rn8Nk8tOMb.jpg',
  'cast_id': 123,
  'character': 'Club Patron',
  'credit_id': '55d0c61dc3a3681bf90085ca',
  'order': 57},
 {'adult': False,
  'gender': 2,
  'id': 170051,
  'known_for_department': 'Acting',
  'name': 'Michael Kemmerling',
  'original_name': 'Michael Kemmerling',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 124,
  'character': 'Club Patron',
  'credit_id': '55d0c642c3a3681bf90085ce',
  'order': 58},
 {'adult': False,
  'gender': 2,
  'id': 95140,
  'known_for_department': 'Acting',
  'name': 'John Voldstad',
  'original_name': 'John Voldstad',
  'popularity': 1.68,
  'profile_path': '/35w34difjEgy3ZBdzUD1lDYUEuj.jpg',
  'cast_id': 125,
  'character': 'Club Patron',
  'credit_id': '55d0c672c3a3681bff007de9',
  'order': 59},
 {'adult': False,
  'gender': 2,
  'id': 1806640,
  'known_for_department': 'Acting',
  'name': 'Jeffrey Winner',
  'original_name': 'Jeffrey Winner',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 278,
  'character': 'Club Patron',
  'credit_id': '5e2e5194326c1900121b1aa4',
  'order': 60},
 {'adult': False,
  'gender': 2,
  'id': 2949379,
  'known_for_department': 'Acting',
  'name': 'Russ Wilson',
  'original_name': 'Russ Wilson',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 317,
  'character': 'Pick-up Truck Driver',
  'credit_id': '638f1416196757023a9c8e57',
  'order': 61},
 {'adult': False,
  'gender': 0,
  'id': 1446990,
  'known_for_department': 'Art',
  'name': 'Daniel J. Gillooly',
  'original_name': 'Daniel J. Gillooly',
  'popularity': 0.6,
  'profile_path': None,
  'cast_id': 126,

In [605]:
def find_actor(row):

    for entry in row:
        if entry['known_for_department'] == 'Acting':
            name = entry['name']
            return name

In [755]:
#making a lambda function
api_df['main_actor'] = api_df['cast_dict'].apply(lambda x: find_actor(x))

In [756]:
api_df

,Unnamed: 0,id,cast,crew,success,status_code,status_message,list_dict,director,cast_dict,main_actor
0,0,13.0,"[{'adult': False, 'gender': 2, 'id': 31, 'know...","[{'adult': False, 'gender': 2, 'id': 37, 'know...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 37, 'know...",Robert Zemeckis,"[{'adult': False, 'gender': 2, 'id': 31, 'know...",Tom Hanks
1,1,278.0,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 153, 'kno...",Frank Darabont,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...",Tim Robbins
2,2,680.0,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn...","[{'adult': False, 'gender': 2, 'id': 138, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 138, 'kno...",Quentin Tarantino,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn...",John Travolta
3,3,274.0,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn...","[{'adult': False, 'gender': 2, 'id': 117, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 117, 'kno...",Jonathan Demme,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn...",Jodie Foster
4,4,603.0,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn...","[{'adult': False, 'gender': 2, 'id': 123, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 123, 'kno...",Lilly Wachowski,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn...",Keanu Reeves
...,...,...,...,...,...,...,...,...,...,...,...
9710,9710,10846.0,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn...","[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",Roberto Benigni,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn...",Roberto Benigni
9711,9711,206296.0,"[{'adult': False, 'gender': 1, 'id': 84223, 'k...","[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",Richard LaGravenese,"[{'adult': False, 'gender': 1, 'id': 84223, 'k...",Anna Kendrick
9712,9712,244688.0,"[{'adult': False, 'gender': 2, 'id': 1279972, ...","[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",Josh Stolberg,"[{'adult': False, 'gender': 2, 'id': 1279972, ...",Sam Pancake
9713,9713,47533.0,"[{'adult': False, 'gender': 1, 'id': 89110, 'k...","[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",Brian Levant,"[{'adult': False, 'gender': 1, 'id': 89110, 'k...",Kate Melton
9714,9714,74849.0,"[{'adult': False, 'gender': 2, 'id': 2, 'known...","[{'adult': False, 'gender': 2, 'id': 1, 'known...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1, 'known...",Steve Binder,"[{'adult': False, 'gender': 2, 'id': 2, 'known...",Mark Hamill

## Modeling Dataframe

Creating the final dataframe for modeling **content_df**

In [768]:
content_df = api_df.copy()

In [769]:
content_df

,Unnamed: 0,id,cast,crew,success,status_code,status_message,list_dict,director,cast_dict,main_actor
0,0,13.0,"[{'adult': False, 'gender': 2, 'id': 31, 'know...","[{'adult': False, 'gender': 2, 'id': 37, 'know...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 37, 'know...",Robert Zemeckis,"[{'adult': False, 'gender': 2, 'id': 31, 'know...",Tom Hanks
1,1,278.0,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 153, 'kno...",Frank Darabont,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...",Tim Robbins
2,2,680.0,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn...","[{'adult': False, 'gender': 2, 'id': 138, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 138, 'kno...",Quentin Tarantino,"[{'adult': False, 'gender': 2, 'id': 8891, 'kn...",John Travolta
3,3,274.0,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn...","[{'adult': False, 'gender': 2, 'id': 117, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 117, 'kno...",Jonathan Demme,"[{'adult': False, 'gender': 1, 'id': 1038, 'kn...",Jodie Foster
4,4,603.0,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn...","[{'adult': False, 'gender': 2, 'id': 123, 'kno...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 123, 'kno...",Lilly Wachowski,"[{'adult': False, 'gender': 2, 'id': 6384, 'kn...",Keanu Reeves
...,...,...,...,...,...,...,...,...,...,...,...
9710,9710,10846.0,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn...","[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 1, 'id': 2186, 'kn...",Roberto Benigni,"[{'adult': False, 'gender': 2, 'id': 4818, 'kn...",Roberto Benigni
9711,9711,206296.0,"[{'adult': False, 'gender': 1, 'id': 84223, 'k...","[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 2163, 'kn...",Richard LaGravenese,"[{'adult': False, 'gender': 1, 'id': 84223, 'k...",Anna Kendrick
9712,9712,244688.0,"[{'adult': False, 'gender': 2, 'id': 1279972, ...","[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 6213, 'kn...",Josh Stolberg,"[{'adult': False, 'gender': 2, 'id': 1279972, ...",Sam Pancake
9713,9713,47533.0,"[{'adult': False, 'gender': 1, 'id': 89110, 'k...","[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1060, 'kn...",Brian Levant,"[{'adult': False, 'gender': 1, 'id': 89110, 'k...",Kate Melton
9714,9714,74849.0,"[{'adult': False, 'gender': 2, 'id': 2, 'known...","[{'adult': False, 'gender': 2, 'id': 1, 'known...",NaN,NaN,NaN,"[{'adult': False, 'gender': 2, 'id': 1, 'known...",Steve Binder,"[{'adult': False, 'gender': 2, 'id': 2, 'known...",Mark Hamill

In [770]:
#dropping unneeded columns
content_df = content_df.drop(columns=["success", "status_code", "status_message",
                         "list_dict", "cast_dict", "cast", "crew", "Unnamed: 0"])

In [771]:
#renaming column for merging
content_df = content_df.rename(columns={"id": "tmdb_id"})

In [772]:
#checking columns
content_df.head()

   tmdb_id           director     main_actor
0     13.0    Robert Zemeckis      Tom Hanks
1    278.0     Frank Darabont    Tim Robbins
2    680.0  Quentin Tarantino  John Travolta
3    274.0     Jonathan Demme   Jodie Foster
4    603.0    Lilly Wachowski   Keanu Reeves

In [773]:
#merging api df with the final cleaned movie_df dataframe for final modeling
content_df = pd.merge(movie_df, content_df, on="tmdb_id", how="left")

In [774]:
content_df

,user_id,movie_id,rating,animation,children,romance,drama,crime,adventure,horror,comedy,sci-fi,war,thriller,mystery,film-noir,fantasy,musical,western,imax,documentary,action,year,title,imdb_id,tmdb_id,tag_1,tag_2,tag_3,tag_3,director,main_actor
0,1,50,5.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1995-01-01,"Usual Suspects, The",114814,629.0,mindfuck,suspense,thriller,tricky,Bryan Singer,Gabriel Byrne
1,1,110,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1995-01-01,Braveheart,112573,197.0,beautiful scenery,epic,historical,inspirational,Mel Gibson,Mel Gibson
2,1,223,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1994-01-01,Clerks,109445,2292.0,cynical,hilarious,independent film,quirky,Kevin Smith,Brian O'Halloran
3,1,260,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1977-01-01,Star Wars: Episode IV - A New Hope,76759,11.0,classic,space action,action,sci-fi,George Lucas,Mark Hamill
4,1,296,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1994-01-01,Pulp Fiction,110912,680.0,good dialogue,great soundtrack,non-linear,cult film,Quentin Tarantino,John Travolta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13655,610,139385,4.5,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01,The Revenant,1663202,281957.0,leonardo DiCarpio,survival,tom hardy,visually appealing,Alejandro González Iñárritu,Leonardo DiCaprio
13656,610,158872,3.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01,Sausage Party,1700841,223702.0,Crude humor,mindfuck,sarcasm,satire,Conrad Vernon,Seth Rogen
13657,610,164179,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01,Arrival,2543164,329865.0,beautiful visuals,Cerebral,cinematography,good cinematography,Denis Villeneuve,Amy Adams
13658,610,168248,5.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2017-01-01,John Wick: Chapter Two,4425200,324552.0,action,dark hero,gun tactics,hitman,Chad Stahelski,Keanu Reeves
13659,610,168252,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2017-01-01,Logan,3315342,263115.0,dark,emotional,gritty,heartbreaking,James Mangold,Hugh Jackman

In [776]:
content_df = content_df.dropna()

In [777]:
content_df

,user_id,movie_id,rating,animation,children,romance,drama,crime,adventure,horror,comedy,sci-fi,war,thriller,mystery,film-noir,fantasy,musical,western,imax,documentary,action,year,title,imdb_id,tmdb_id,tag_1,tag_2,tag_3,tag_3,director,main_actor
0,1,50,5.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1995-01-01,"Usual Suspects, The",114814,629.0,mindfuck,suspense,thriller,tricky,Bryan Singer,Gabriel Byrne
1,1,110,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1995-01-01,Braveheart,112573,197.0,beautiful scenery,epic,historical,inspirational,Mel Gibson,Mel Gibson
2,1,223,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1994-01-01,Clerks,109445,2292.0,cynical,hilarious,independent film,quirky,Kevin Smith,Brian O'Halloran
3,1,260,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1977-01-01,Star Wars: Episode IV - A New Hope,76759,11.0,classic,space action,action,sci-fi,George Lucas,Mark Hamill
4,1,296,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1994-01-01,Pulp Fiction,110912,680.0,good dialogue,great soundtrack,non-linear,cult film,Quentin Tarantino,John Travolta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13655,610,139385,4.5,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01,The Revenant,1663202,281957.0,leonardo DiCarpio,survival,tom hardy,visually appealing,Alejandro González Iñárritu,Leonardo DiCaprio
13656,610,158872,3.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01,Sausage Party,1700841,223702.0,Crude humor,mindfuck,sarcasm,satire,Conrad Vernon,Seth Rogen
13657,610,164179,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01,Arrival,2543164,329865.0,beautiful visuals,Cerebral,cinematography,good cinematography,Denis Villeneuve,Amy Adams
13658,610,168248,5.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2017-01-01,John Wick: Chapter Two,4425200,324552.0,action,dark hero,gun tactics,hitman,Chad Stahelski,Keanu Reeves
13659,610,168252,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2017-01-01,Logan,3315342,263115.0,dark,emotional,gritty,heartbreaking,James Mangold,Hugh Jackman